/* Шрифти 'Raleway' 700, 'Roboto' 400 500 700 900 */

/* акцент color: #2196F3; */
/* лого #000000; */
/* головний колір color: #757575; */
/* вторинний колір тексту color: #212121; */
/* колір герою color: #FFFFFF; */
/* колір контактиів адреси color: rgba(255, 255, 255, 0.6); */
/* вторинний колір фону background-color: #2F303A; */
/* головний колір кнопок портф. background: #F5F4FA; */
/* активна кнопка героя background: #188CE8; */
/* цвет соц сети background: #AFB1B8; */
 /* цвет фона соц сети background: rgba(255, 255, 255, 0.1); */

:root {
    --projects-set-gap: 30px;

    --primary-btn-color: #f5f4fa;  
}

/* Хедр  */
/* Логотип */
/* Навігація */
/* Контакти  */
/* Кнопки  */
/* Секція героя */
/* Секція  */
/* Наші особливості */
/* Чим ми займаємося  */
/* Команда */
/* Іконки соц мереж  */
/* Клієнти */
/* Футер */
/* Адреса  */
/* Контакти соц мереж футері  */
/* Форма в футері  */
/* Модальне вікно  */
/* Форма  в модальному вікні*/
/* Ім'я, телефон, пошта, коментар  */
/* Умови договору  */
/* Портфоліо */

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-btn {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--primary-color);

    background-color: var(--primary-btn-color);
    border: none;
    border-radius: 4px;

    transition: color var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
}

.filter > .item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--secondary-accent-color);

    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:hover {
    cursor: pointer;
}

/* Список проектів */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--projects-set-gap));
    margin-left: calc(-1 * var(--projects-set-gap));
}

.projects-list > .item {
    margin-top: var(--projects-set-gap);
    margin-left: var(--projects-set-gap);
}

.project-link {
    display: block;

    transition: box-shadow var(--duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
    position: relative;

    overflow: hidden;
}

.projects-list .project {
    display: block;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    background-color: rgba(33, 150, 243, 0.9);;

    transform: translateY(101%);
    transition: transform var(--duration) var(--timing-function);
}

.project-overlay-descr {
    width: 322px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--secondary-accent-color);
}

.projects-list .box {
    padding: 20px 24px;

    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.projects-list .title {
    margin-top: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-color);
}

.projects-list .descr {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
    transform: translateY(0);
}
